.nav {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 38px;
}

.link {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 4px;
}

@media (min-width: 768px) {
  .link {
    font-size: 12px;
  }
}

.active {
  color: var(--black);
  border-color: var(--black);
  font-weight: 600;
}