.nav {
  display: flex;
  align-items: center;
  gap: 38px;
  margin-bottom: 24px;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 -1px 0;
  gap: 32px;
}

.link {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  color: var(--black);
  text-decoration: none;
  border-bottom: 2px solid transparent;
}


/* Клас для активного стану посилання */
.active {
 color: var(--black); 
  border-color: var(--black);
  font-weight: 600;
}