.hero {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 128px 16px;
  min-height: 513px;
  overflow: hidden;
  background-image:
    linear-gradient(90deg, rgb(0 0 0 / 90%), rgb(0 0 0 / 30%)),
    url("./Hero-img/Banner_mob.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

.inner {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1080px;
  padding-right: 16px;
  padding-left: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  color: #fff;
}

.title {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1;
  color: #fff;
  text-align: left;
}

.searchWrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 128px 16px;
    min-height: 443px;
    background-image:
      linear-gradient(90deg, rgb(0 0 0 / 90%), rgb(0 0 0 / 30%)),
      url("./Hero-img/Banner_tab.jpg");
  }

  .content {
    gap: 16px;
    max-width: 720px;
    text-align: left;
  }

  .title {
    font-size: 48px;
  }

  .searchWrap {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding: 128px 92px;
    background-image:
      linear-gradient(90deg, rgb(0 0 0 / 90%), rgb(0 0 0 / 30%)),
      url("./Hero-img/Banner _pc.jpg");
  }

  .inner {
    max-width: 1440px;
  }
}
