.wrapper {
  padding-top: 48px;
}

.title {
  margin: 48px 16px 16px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  color: #000;
}

@media screen and (min-width: 768px) {
  .title {
    margin: 48px 32px 16px;
    font-size: 48px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    margin: 48px 107px 40px;
  }
}
